.banner_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 32px;
    
}

h3 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    line-height: 112.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    color: white;


}

.sub_tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 112.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    color: #868686;
    
}

.BannerShow {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    /* background-position: bottom; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #374151;
}

.bannerImg{
    width: 100%;
    height: 100%;

    opacity: 1;
    border-radius: 12px;
    object-fit: cover;

    
}
.banner_overlay{
    position: absolute; /* Đè lên ảnh */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%);
    z-index: 1;

}
.banner_content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 50%;
    z-index: 2 !important;
    background: transparent;

}

.movie-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: white;
    margin-bottom: 10px; 
    background: transparent;

}

.movie-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    background: transparent;

}