.RL_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 32px;
}

h3 {
    color: white;
}

.section_wrap {
    width: 100%;
    height: 305.8702392578125px;
    /* gap: 30px; */
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie_in4 {
    position: relative;
}

.movie_in4 img {
    /* height: 100%; */
    object-fit: cover;
    border-radius: 8px;
    width: 200px;
    height: 284.1095275878906px;
    opacity: 1;
    border-radius: 12px;
}

.movie_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 140px;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #0f1e29 100%);

    color: white;
    text-align: center;

    padding: 140px 0 10px;
    
}

.episode_text {
    margin: 0 0 5px 0;
    opacity: 0.8;
    background: transparent;
    opacity: 1;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 112.99999999999999%;
    letter-spacing: 0%;
    text-align: center;


}

.movie_name {

    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background: transparent;

    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 112.99999999999999%;
    letter-spacing: 0%;
    text-align: center;

}
